root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4

[*.{ts,tsx,js,jsx,json,json5,yaml,yml}]
indent_style = space
indent_size = 2

[*.rs]
indent_style = space
indent_size = 4

[*.{md,mdx}]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
indent_size = 4

[{*.cfg,*.ini,.pre-commit-config.yaml}]
indent_style = space
indent_size = 2
